# Kickstart file 
install
text
cdrom
firstboot --disabled
lang en_US.UTF-8
keyboard us
network --device eth0 --bootproto dhcp --hostname test
rootpw setup 
firewall --enabled
authconfig --enableshadow --enablemd5
selinux --disabled
timezone --utc America/Los_Angeles
bootloader --location=mbr --driveorder=hda
# The following is the partition information you requested
# Note that any partitions you deleted are not expressed
# here so unless you clear all partitions first, this is
# not guaranteed to work
clearpart --all --initlabel
part / --fstype ext3 --size=4000 --asprimary
part swap --size=1000

%packages
@core
@base
device-mapper-multipath
-sysreport

%post 
chkconfig sshd off
chkconfig cups off
cp /etc/rc.d/rc.local /etc/rc.d/rc.local.orig
cat <<EOF >>/etc/rc.d/rc.local
(cd /etc/rc.d; rm -f phase1.sh; wget -q http://dl.allstarlink.org/installcd/phase1.sh) 
if [ -e /etc/rc.d/phase1.sh ]
then
chmod 755 /etc/rc.d/phase1.sh
/etc/rc.d/phase1.sh
else
echo "Unable to download post install script phase1.sh!"
echo "Installation aborted"
sleep 3
fi
EOF

